.App {
  text-align: center;
}


.square{
  background: whitesmoke;
  border: 1px solid #999;
  float: left;
  background: #fff;
  border: 1px solid #999;
  font-size: 50px;
  font-weight: bold;
  
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 80px;
  line-height: 80px;
  height: 80px;
  display: inline-block;
    text-decoration: none;
    color: floralwhite;
    font-weight: bold;
    background-color: firebrick;
    margin: 10px;
    border: 1px solid blanchedalmond;
    background-image: left-gradient(bottom, firebrick 0%, firebrick (97,155,203) 100%);
    background-image: -o-linear-gradient(bottom, firebrick(73,132,180) 0%, firebrick (97,155,203) 100%);
    background-image: -moz-linear-gradient(bottom, fire(73,132,180) 0%, firebrick(97,155,203) 100%);
    background-image: -webkit-linear-gradient(bottom, firebrick(73,132,180) 0%, firebrick(97,155,203) 100%);
    background-image: -ms-linear-gradient(bottom, firebrick(73,132,180) 0%, firebrick(97,155,203) 100%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, firebrick(73,132,180)),
        color-stop(1, firebrick(97,155,203))
    );
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 0px -1px 0px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 6px 0px salmon, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    -moz-box-shadow: 0px 6px 0px salmon, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    box-shadow: 0px 6px 0px salmon, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    
    }

    .square:active {
      background-image: left-gradient(bottom, firebrick(88,154,204) 0%, coral(90,150,199) 100%);
      background-image: -o-linear-gradient(bottom, coral(88,154,204) 0%, coral(90,150,199) 100%);
      background-image: -moz-linear-gradient(bottom, coral(88,154,204) 0%, coral(90,150,199) 100%);
      background-image: -webkit-linear-gradient(bottom, coral(88,154,204) 0%, coral(90,150,199) 100%);
      background-image: -ms-linear-gradient(bottom, coral(88,154,204) 0%, coral(90,150,199) 100%);

      background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, salmon(88,154,204)),
      color-stop(1, salmon(90,150,199))
  );
    }
    .square:focus{
      outline:none;
    }

    /* Board Page */
.board-row:after {
  clear: both;
  content: "";
  display: table;
 }
 /* Game class*/
.game{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%); 
  display:block;
  flex-direction: row;
  margin: 0 auto;  
  
 }

 
 /* Game Page */
ul {
  padding-left: 30px;
 }
 .game-info {
  margin-left: 20px;
  color: salmon;
 }
 .status {
  margin-bottom: 10px;
 }